@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Source+Sans+Pro&display=swap');

:root {
    --heading-font: "Amatic SC";
    --paragraph-font: Source Sans Pro, Helvetica, sans-serif;
}

body {
    background-color: #003049;
    color: white;
    font-family: var(--paragraph-font);
    font-size: 22px;
    margin: 0;
    padding: 0;
}

#logo-link {
    justify-self: center;
    align-self: center;
}

#logo-link img {
    padding-top: 5px;
}

h2 {
    margin: 0;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero h1,
h4 {
    text-align: center;
}

#hero-img {
    width: 100%;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-msg h4 {
    text-align: center;

}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

.logo {
    width: 80px;
    opacity: 1;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

header {
    background-color: #fcbf49;
    opacity: 0.9;
    color: white;
    display: grid;
    grid-template-columns: 150px auto;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 35px;

}

nav a:hover {
    background-color: #003049;
    color: white;
}

.button-box {
    text-align: center;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);

}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

#background {
    height: 725px;
    background-color: #fcbf49;
    color: white;
    grid-column: 1/11;
    grid-row: 4/9;
}

.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
    margin-top: 150px;
    margin-bottom: 150px;

}

.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
    margin-top: 150px;
    margin-bottom: 150px;
}

.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
    margin-top: 150px;
    margin-bottom: 150px;
}

.card-img {
    border: 10px solid #f3e7a2;
    width: 100%;
    justify-items: center;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.book,
.join {
    background-color: #f06a11;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover,
.join:hover {
    background-color: #52b0e2;
    color: white;
}

.mountains {
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 100px;
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}

.msg {
    background-color: #eae2b7;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}

.msg p {
    color: #003049;
    font-size: 1.5em;
    padding-bottom: 15px;
}

footer {
    background-color: #003049;
    color: white;
    padding: 25px 50px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer h3 {
    color: white;
    text-decoration: underline;
}

footer a {
    color: #fcbf49;
    text-decoration: none;
}

footer a:hover {
    color: #52b0e2;
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}

.home-title {
    color: #f06a11;
    font-family: var(--heading-font);
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color: #eae2b7;
}

.msg h2 {
    color: #003049;
}


.home-grid h2 {
    font-family: var(--heading-font);
}

/*Page 2 (Rivers)-------------------------/----------------------------------------*/

.idaho {

    margin-bottom: 30px;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 40px;

}

.idaho-img {
    max-block-size: 425px;
    float: left;
    margin-left: 25px;
    margin-top: 60px;
    margin-bottom: 30px;
    /* padding-right: 10px;
    padding-bottom: 10px;*/
    border-radius: 10px;
    border: 10px solid #fcbf49;
    transition: transform .5s;
    box-shadow: 5px 5px 10px black;
    max-width: 100%;
}

.idaho h2 {
    color: #f06a11;
    text-align: center;
    font-family: var(--heading-font);
}

.idaho p {
    text-align: right;
    color: #eae2b7;
    margin-bottom: 20px;
    margin-right: 30px;
    padding-top: 10px;
    /*  padding-bottom: 20px;*/
    padding-left: 20px;
    font-family: var(--paragraph-font);
}

.idaho .button-box .book {
    margin-top: 30px;
}

.idaho-img:hover {
    opacity: .8;
    transform: scale(1.1);
}

.idaho .button-box {
    padding-top: 25px;
}

/* Utah*/

.utah {
    background-color: #f3e7a2;

    margin-top: 15px;
    padding-top: 50px;
    padding-bottom: 60px;

}

.utah-img {
    max-block-size: 425px;
    float: right;
    margin-right: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
    /* padding-right: 10px;
    padding-bottom: 10px;*/
    border-radius: 10px;
    border: 10px solid #fcbf49;
    transition: transform .5s;
    box-shadow: 5px 5px 10px black;
    max-width: 100%;
}

.utah h2 {
    color: #f06a11;
    text-align: center;
    font-family: var(--heading-font);
}

.utah p {
    text-align: left;
    color: #003049;
    margin-bottom: 20px;
    margin-right: 30px;
    padding-top: 10px;
    /*  padding-bottom: 20px;*/
    padding-left: 20px;
    font-family: var(--paragraph-font);
}


.utah-img:hover {
    opacity: .8;
    transform: scale(1.1);
}

.utah .button-box {
    padding-top: 45px;
}

/*Arizona*/

.arizona {
    background-color: #6e6126;
    padding-top: 20px;
    padding-bottom: 40px;

}

.arizona-img {
    max-block-size: 400px;
    float: left;
    margin-left: 25px;
    margin-right: 20px;
    margin-bottom: 40px;
    /* padding-right: 10px;
    padding-bottom: 10px;*/
    border-radius: 10px;
    border: 10px solid #fcbf49;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #000000;
    max-width: 100%;
}

.arizona h2 {
    color: #fcbf49;
    text-align: center;
    font-family: var(--heading-font);
    margin-bottom: 30px;
    margin-top: 30px;
}

.arizona p {
    text-align: right;
    color: #eae2b7;
    margin-bottom: 30px;
    margin-right: 30px;
    padding-top: 10px;
    /*  padding-bottom: 20px;*/
    margin-left: 20px;
    font-family: var(--paragraph-font);
}


.arizona-img:hover {
    opacity: .8;
    transform: scale(1.1);
}

.arizona .button-box {
    padding-top: 25px;
    padding-bottom: 20px;
}

/*this is for the contact us page*/
form {
    /* Just to center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* To see the outline of the form */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li+li {
    margin-top: 1em;
}

label {
    /* To make sure that all labels have the same size and are properly aligned */
    display: inline-block;
    width: 90px;
    text-align: right;
}

input,
textarea {
    /* To make sure that all text fields have the same font settings By default, textareas have a monospace font */
    font: 1em sans-serif;
    /* To give the same size to all text fields */
    width: 300px;
    box-sizing: border-box;
    /* To harmonize the look & feel of text field border */
    border: 1px solid #999;
}

input:focus,
textarea:focus {
    /* To give a little highlight on active elements */
    border-color: #000;
}

textarea {
    /* To properly align multiline text fields with their labels */
    vertical-align: top;
    /* To give enough room to type some text */
    height: 5em;
}

.button {
    /* To position the buttons to the same position of the text fields */
    padding-left: 90px;
    /* same size as the label elements */
}

button {
    /* This extra margin represent roughly the same space as the space between the labels and their text fields */
    margin-left: 0.5em;
}

#feedback {
    background-color: rgb(80, 80, 79);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;
}

.moveDown {
    margin-top: 3em;
}

@media screen and (max-width: 900px) {

    #hero,
    .home-grid {
        display: block;
        height: auto;
    }

    nav,
    footer {
        flex-direction: column;
    }

    nav a {
        display: block;
        padding: 15px;
    }

    #hero {
        margin-top: 0;
    }

    #hero-msg {
        margin-top: 0;
    }

    #hero-msg h4 {
        display: none;
    }

    .home-title {
        font-size: 25px;
        color: #6f7364;
    }

    .rivers-card,
    .camping-card,
    .rapids-card {
        margin: 50px auto;
        width: 60%;
    }

    #background {
        display: none;
    }

    .mountains,
    .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }

    footer {
        margin-top: 25px;
    }
}