@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@500&family=Josefin+Sans:ital,wght@1,600&family=Kdam+Thmor+Pro&display=swap');

:root {
    --heading-font: Kdam Thmor Pro;
    --paragraph-font: Josefin Sans, Helvetica, sans-serif;
    --subtitle-font: Dancing Script;

    --primary-color: #1b003d;
    --secondary-color: #f5008b;
    --accent1-color: #ffb600;
    --accent2-color: #ad00cc;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #1b003d;

}


a h1,
h1 {
    font-family: var(--heading-font);
    text-decoration: none;
}

a h2,
h2,
h3 {
    font-family: var(--heading-font);
    text-decoration: none;
}

a p,
p {
    font-family: var(--paragraph-font);
    text-decoration: none;
}

#banner img {
    inline-size: 100%;
    margin-bottom: 0;
    position: fixed;
    z-index: -1;
    top: 0;
}

#menu {
    margin-top: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent2-color);
    font-family: var(--heading-font);
    height: 80px;
    inline-size: 100%;
}

#menu img {
    max-block-size: 60px;
}

nav a {

    color: white;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: var(--primary-color);
}

nav a.active {
    background-color: var(--primary-color);
    color: white;
}

nav input[type=text] {

    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}


#welcome {
    display: grid;
    max-width: 70%;
    margin: 0 auto;
    grid-template-columns: 10% 10% 60% 10% 10%;
    grid-template-rows: 35% 65%;
    background-color: rgb(7, 19, 7);

}

.welcome-img {
    grid-column: 1/6;
    grid-row: 1/3;
    max-inline-size: 100%;

}

#welcome-msg {
    grid-column: 3/4;
    grid-row: 2/3;
    color: white;
    text-align: center;
}

#welcome-msg3 {
    grid-column: 2/5;
    grid-row: 2/3;
    color: white;
    text-align: center;
    margin-top: -50px;
}

#welcome-msg3 h2 {
    font-family: var(--paragraph-font);
}

#welcome-msg h2 {
    font-family: var(--paragraph-font);
    padding-top: 35px;
}

.mouse-show-1 {
    display: inline;
    max-width: 100%;
    margin-top: 0;
    text-align: center;
    background-color: white;
}

.mouse-show-2 {
    display: none;
    position: absolute;
    max-width: 100%;
    margin-top: 0;
    background-color: white;
}

.mouse-show-3 {
    display: none;
    position: absolute;
    max-width: 100%;
    margin-top: 0;
    background-color: white;
}

.mouse-show-4 {
    display: none;
    position: absolute;
    max-width: 100%;
    margin-top: 0;
    background-color: white;
}

.mouse-show-5 {
    display: none;
    position: absolute;
    max-width: 100%;
    margin-top: 0;
    background-color: white;
}

.mouse-show-6 {
    display: none;
    position: absolute;
    max-width: 100%;
    margin-top: 0;
    background-color: white;
}

.last-news {
    max-width: 80%;
    display: grid;
    grid-template-columns: 5% 38% 5% 21% 5% 21% 5%;
    grid-template-rows: 15% 35% 5% 35% 10%;
    margin: 0 auto;
    background-color: white;

}

.last-news img {
    max-inline-size: 100%;
    padding: 5px;
}

.last-news a {
    text-decoration: none;
}

.last-news h1 {
    grid-area: 1/2/2/3;
    align-self: center;
}

#last-news-1 {
    grid-area: 2/2/6/3;
}

#last-news-1:hover {
    transform: scale(1.2);
    background-color: white;
}

#last-news-2 {
    grid-area: 2/4/3/5;
}

#last-news-2:hover {
    transform: scale(1.2);
    background-color: white;
}

#last-news-3 {
    grid-area: 2/6/3/7;
}

#last-news-3:hover {
    transform: scale(1.2);
    background-color: white;
}

#last-news-4 {
    grid-area: 4/4/6/5;
    margin-top: 20px;
}

#last-news-4:hover {
    transform: scale(1.2);
    background-color: white;
}

#last-news-5 {
    grid-area: 4/6/5/7;
}

#last-news-5:hover {
    transform: scale(1.2);
    background-color: white;
}

.last-news h3 {
    padding: 0;
    border: 0;
    margin: 0;
    background-color: white;
    color: black;
}

.last-news p {
    color: var(--primary-color);
    padding: 5px;
}

.middle-grid {
    display: grid;
    grid-template-columns: 40% 60%;
    max-width: 80%;
    margin: 0 auto;
    margin-top: 20px;

}

.most-commented {
    grid-column: 1/2;
    text-decoration: none;
    background-color: white;
}

.most-commented h1 {
    padding-left: 5px;
}

.most-commented a {
    padding: 5px;
    text-decoration: none;
}
.most-commented img {
    max-width: 50%;
    float: left;
    padding: 5px;
}

.most-commented h3 {
    font-family: var(--heading-font);
    color: #ffb600;
}


#most-commented-1 h3 {
    margin-top: -25px;
}

.top-news {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 45% 45%;
    background-color: rgb(51, 51, 51);

}

.top-news h1 {
    grid-column: 1/2;
    grid-row: 1/2;
    padding-left: 5px;
    color: #ffb600;
}

#top-movies {
    grid-column: 1/2;
    grid-row: 2/3;
}

#top-series {
    grid-column: 2/3;
    grid-row: 2/3;
}

#top-videogames {
    grid-column: 1/2;
    grid-row: 3/4;
}

#top-comics {
    grid-column: 2/3;
    grid-row: 3/4;
}

.top-news img {
    max-width: 100%;
    margin-top: 20px;
    border: 5px solid var(--accent2-color);
}

#top-comics {
    margin-top: 12px;
}

.top-news a {
    text-decoration: none;
    padding: 10px;
    
}

.top-news a:hover {
    transform: scale(1.1);
}

.top-news h2 {
    text-align: center;
    color: #ffb600;
    font-family: var(--subtitle-font);
}


@media screen and (max-width: 700px) {
    .middle-grid {
        flex-direction: column;
    }
}

.categories {
    background-color: var(--primary-color);
    text-decoration: none;
    padding: 10px;
    color: var(--accent1-color);
    margin-bottom: 25px;

}

.cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-inline-size: 90%;
    margin: 0 auto;

}

.categories img:hover {
    transform: scale(1.1);
    background-color: var(--primary-color);
}

.categories img {
    max-block-size: 180px;
    justify-items: center;
    border: 5px solid var(--accent2-color);
}

.categories h1 {
    font-family: var(--heading-font);
    text-align: left;
    padding-top: -5px;
}

.categories a {
    text-decoration: none;
    text-align: center;
    color: var(--accent1-color);
}

.cards h2 {
    font-family: var(--subtitle-font);
}


footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(39, 38, 38);
}

footer a {
    text-decoration: none;
    color: gold
}


footer .social img {
    max-block-size: 35px;
    border-radius: 20%;
    padding: 5px;
}


footer #logo-link img {
    max-block-size: 100px;
    border-radius: 100%;
    margin-top: 5px;
}


@media screen and (max-width: 600px) {

    nav a,
    nav input[type=text] {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }

    nav input[type=text] {
        border: 1px solid #ccc;
    }
}

/*page 2 (movies & series)*/

.movies-top-news {
    background-color: white;
    max-width: 80%;
    margin: 0 auto;
}
.movies-top-news h1 {
    padding-left: 5px;
}

#mouse-show-1 {
    display: none;
    max-width: 100%;
    margin-top: 0;
    text-align: center;
    background-color: white;
}
.news-card {
    display: grid;
    grid-template-columns: 2.5% 30% 2.5% 30% 2.5% 30% 2.5%;
}
.news-card img {
    max-inline-size: 100%;
}

.news-card a {
    text-decoration: none;
    color: black;
}
#movies-top-news-1 {
    grid-column: 2/3;
}

#movies-top-news-2 {
    grid-column: 4/5;
}

#movies-top-news-3 {
    grid-column: 6/7;
}

#movies-top-news-1:hover {
    transform: scale(1.1);
    background-color: white;
}

#movies-top-news-2:hover {
    transform: scale(1.1);
    background-color: white;
}

#movies-top-news-3:hover {
    transform: scale(1.1);
    background-color: white;
}

.last-reviews {
    max-width: 100%;
    background-color: rgb(39, 38, 38);
    margin: 0 auto;
}

.last-reviews h1 {
    padding-left: 20px;
    padding-top: 10px;
    color: #ffb600;
}

.last-reviews h2 {
    text-align: center;
    transform: scale(0.8);
    padding-top: 0;
    margin-top: 0;
    color: #ffb600;
}
.last-reviews div {
    display: grid;
    grid-template-columns: repeat(6, 16.6%);
    padding: 5px;
}   

.last-reviews a {
    text-decoration: none;
}

.last-reviews a:hover {
    transform: scale(1.1);
}
.last-reviews img {
    max-inline-size: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

#movie-4 {
    margin-top: 40px;
}

#movie-5 {
    margin-top: 40px;
}

.last-grid {
    display: grid;
    max-width: 80%;
    margin: 0 auto;
    grid-template-columns: 60% 40%;
    background-color: white;
    margin-bottom: 15px;
    color: var(--accent1-color)
}

.last-movie-news {
    border-right: 2px solid black;
}
.last-movie-news h1 {
    padding-left: 10px;
}

.last-movie-news h2 {
    padding: 10px;
    
}

#last-movies-2 h2 {
    margin-top: 50px;
}

#last-movies-3 h2 {
    margin-top: 60px;
}

.last-movie-news a {
    text-decoration: none;
}

.last-movie-news img {
    float: left;
    max-inline-size: 60%;
    padding: 10px;
}

.most-read {
    padding: 10px;
}

.most-read a {
    text-decoration: none;
}

.most-read h2 {
    float: left;
    padding: 5px;
    padding-top: 5px;
    color: #ffb600;
}

.most-read h3 {
    text-align: left;
}

#most-read-1 h3 {
    margin-top: 25px;
}

#most-read-1 h2 {
    margin-top: -5px;
}

#most-read-2 h2 {
    margin-left: 0;
    margin-top: -5px;
}

#most-read-2 h3 {
    margin-top: 20px;
}

#most-read-3 h2 {
    margin-top: -5px;
}

#most-read-4 h2 {
    margin-top: -5px;
}

.last-grid a {
    color: #1b003d;
}


/* Page 3 - podcasts */

.videos-grid {
    background-color: rgb(39, 38, 38);
    margin-bottom: 25px;
}

.videos-grid h1 {
    padding: 10px;
    color: #ffb600;
    padding-top: 30px;
    padding-bottom: 0;
}
.playlist-podcast {
    max-width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 5px;
}


.playlist-podcast a {
    text-decoration: none;
    color: #ffb600;
    padding: 20px;
}

.playlist-podcast a:hover {
    background-color: rgba(22, 22, 22, 0.938);
    transform: scale(1.2);
}

.playlist-podcast img {
    border: 10px solid white;
    max-width: 100%;
}

